@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

html {
  height: 100%;
  width: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn {
  @apply m-1 font-bold py-2 px-4 rounded w-1/3 flex items-center justify-center;
}
.btn-primary {
  @apply bg-blue-500 text-white;
}
.btn-primary:hover {
  @apply bg-blue-700;
}

.btn-secondary {
  @apply bg-gray-500 text-white;
}
.btn-secondary:hover {
  @apply bg-gray-700;
}


.btn-danger {
  @apply bg-red-500 text-white;
}
.btn-danger:hover {
  @apply bg-red-700;
}

.btn-header {
  @apply m-1 font-bold py-2 px-4 rounded w-36 mr-7; 
}
.custom-input {
  @apply bg-white appearance-none border-2 border-gray-400 rounded w-2/3 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500;
}

.custom-node {
  width: 100px;
}

.context-menu {
  background: white;
  border-style: solid;
  box-shadow: 10px 19px 20px rgba(0, 0, 0, 10%);
  position: relative;
  z-index: 10;
}

.context-menu button {
  border: none;
  display: block;
  padding: 0.5em;
  text-align: left;
  width: 100%;
}

.rpi-background {
  background-color: rgb(214, 0, 28);
}

.link {
  color: #0000EE
}

h3 {
  @apply font-semibold
}